<%- include ("../layouts/cabecera.ejs")%>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="font-awesome/css/font-awesome.css">-->
    <script src="https://kit.fontawesome.com/448295081a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styleprueba.css">
<header>
    <div id="menu-bar" class="fa fa-bars"></div>
    
    <nav class="navbar">
        <a href="/inicio">Inicio</a>
    <a href="#product">Productos</a>
    <a href="#news">Noticias</a>
    <a href="#review">Acerca de</a>
    <a href="#help">Ayuda</a>
    </nav>
    <div class="icons">
        
        <a href="/formulario"><i class="fa-solid fa-user"></i></a>
    </div>
</header>
<div style="padding-top: 100px;">
    <a href="/crear" class="btn btn-primary" type="button">Nuevo tenis</a>
<br>
<br>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Talla 5 Stock</th>
            <th>Talla 6 Stock</th>
            <th>Talla 7 Stock</th>
            <th>Talla 8 Stock</th>
            <th>Talla 9 Stock</th>
            <th>Talla 10 stock</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% for( let i= 0; i< tenis.length; i++ ) { %>
            <tr>
                <td><%=tenis[i].id %></td> 
                <td><%=tenis[i].nombre %></td>
                <td><%=tenis[i].descripcion %></td>
                <td><%=tenis[i].tallaCinco %></td> 
                <td><%=tenis[i].tallaSeis %></td> 
                <td><%=tenis[i].tallaSiete %></td> 
                <td><%=tenis[i].tallaOcho %></td> 
                <td><%=tenis[i].tallaNueve %></td> 
                <td><%=tenis[i].tallaDiez %></td>
                <td><%=tenis[i].precio %></td>
                <td> <img class="img-thumbnail" width="100" src="images/<%=tenis[i].imagen%>" alt=""></td>
                <td>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <form class="form-inline" method="get" action="editar/<%=tenis[i].id %>">
                            <button class="btn btn-primary" type="submit">Editar</button>
                        </form>
                    </div>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <form class="form-inline" method="post" action="eliminar/<%=tenis[i].id %>">
                            <button class="btn btn-danger" type="submit">Borrar</button>
                        </form>
                    </div><br>
                    
                </td>
            </tr>
        <% } %>
    </tbody>
</table> 
</div>
